<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  iternalLogLevel="Debug"
      internalLogFile="C:\Temp\NLog.Internal.txt"
      internalLogToConsole="true"
	  throwConfigExceptions="true" >

    <targets async="true">
        <target xsi:type="File" name="logfile" 
		    filename="${gdc:logPath}StoryCAD.${shortdate}.log"
			layout="${longdate} ${level} ${message}${exception:format=Message,StackTrace,Data:MaxInnerExceptionLevel=5}"
			maxArchiveDays="7"  />
		<target xsi:type="Console" name="logconsole" />
   </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>